<div class="cart">
  <h2>Carrito</h2>

  <table>
    <thead>
      <tr>
        <th>Producto</th>
        <th>Id</th>
        <th>Nombre</th>
        <th>Unidades</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of stateCart">
        <td>
          <img [src]="item.image" alt="Product" />
        </td>
        <td>
          {{ item.id }}
        </td>
        <td>
          {{ item.title }}
        </td>
        <td>
          <input
              type="number"
              class="input_unidades"
              [value]="item.unidades"
              (change)="updateUnits(item, $event)"
              min="1"
          />
        </td>
        <td>
          ${{ item.price * item.unidades! | number:'1.2-2' }}
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteProduct(item)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="total-container">
    <h3>Total: ${{ totalCartPrice | number }}</h3>
  </div>
</div>
