<header></header>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex">
    <a class="navbar-brand" routerLink="tienda">Tienda</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let item of listNavbar">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="item.route"
            >{{ item.nombre }}</a
          >
        </li>
        <li class="nav-item">
          <button class="nav-link active"  (click)="goToVenderProducto()" aria-current="page" >Vender Producto</button>
        </li>
      </ul>
    </div>
  </div>

<div class="dropdown" #dropdown>

  <button class="btn btn-outline-success" type="submit" (click)="toggleDropdown($event)">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-basket2"
      viewBox="0 0 16 16"
    >
      <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0z" />
      <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6z" />
    </svg>
    <span *ngIf="stateCart.length > 0" class="notification-dot"></span>
  </button>

  <table class="dropdown-menu" *ngIf="isDropdownOpen" (click)="insideClick($event)">
    <thead class="dropdown-head">
      <tr>
        <th *ngIf="carritoNav">
          <a class="nav-link" aria-current="page" [routerLink]="carritoNav.route">
            {{ carritoNav.nombre }}
          </a>
        </th>
      </tr>
    </thead>
    <tbody class="dropdown-body">
      <tr class="dropdown-items" *ngFor="let item of stateCart">
        <td>
          <img [src]="item.image" alt="Product" />
        </td>
        <td>{{ item.title | slice:0:10 }}...</td>
        <td>{{ item.unidades }}</td>
        <td>${{ item.price * item.unidades! | number }}</td>
        <td>
          <button class="btn" (click)="deleteProduct(item)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</nav>




